<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@800;700&display=swap" rel="stylesheet">
</head>
<body>
  {% include header.html %}
  <nav>
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/about">ABOUT</a></li>
      <li><a href="/publications">PUBLICATIONS</a></li>
      <li><a href="/news">NEWS</a></li>
    </ul>
  </nav>
  <div class="content-box">
    {{ content }}
  </div>
 </div>
  
  {% include footer.html %}
  
</body>
</html>
